# Database Credentials (PostgreSQL)
DB_URL=jdbc:postgresql://localhost:5432/your_database
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_password

# MongoDB Credentials
MONGO_USERNAME=your_mongo_user
MONGO_PASSWORD=your_mongo_password
SPRING_DATA_MONGODB_URI=mongodb+srv://your_mongo_user:your_mongo_password@cluster.mongodb.net/your_database?retryWrites=true&w=majority

# Application Security Credentials
SECURITY_USER_NAME=driver
SECURITY_USER_PASSWORD=your_user_password
SECURITY_ADMIN_NAME=manager
SECURITY_ADMIN_PASSWORD=your_admin_password
